html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

p {
  max-width: 80ch;
  margin-bottom: 1.5em;
}

hr {
  border: none;
  border-bottom: 1px solid currentColor;
  margin: 24px 0px 32px;
  opacity: 0.25;
}

.dark a:not(.flexy-button) {
  color: #51a9ff;
}

.light a:not(.flexy-button) {
  color: #095197;
}

.hidden,
[hidden] {
  display: none !important;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.simple-icon,
.material-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
}

.simple-icon svg,
.material-symbol svg {
  fill: currentcolor;
  width: 1em;
  height: 1em;
}

.simple-icon {
  font-size: 16px;
}

.material-symbol {
  font-size: 24px;
}

.icon-16 {
  font-size: 16px;
}

.icon-20 {
  font-size: 20px;
}

.icon-24 {
  font-size: 24px;
}

.icon-32 {
  font-size: 32px;
}

.icon-40 {
  font-size: 40px;
}

.icon-48 {
  font-size: 48px;
}

.icon-64 {
  font-size: 64px;
}

.icon-96 {
  font-size: 96px;
}

.icon-128 {
  font-size: 128px;
}

code {
  background-color: var(--flexy-sys-palette-grey-10);
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding-left: 4px;
  padding-right: 4px;
}

.highlight code {
  background-color: initial;
}

ul li {
  margin-bottom: 4px;
}

.example {
  margin-bottom: 32px;
  max-width: 900px;
}

.highlight {
  border-radius: 8px;
  border: 1px solid var(--flexy-sys-palette-grey-20);
  overflow: hidden;
}

.highlight pre {
  border-radius: 8px;
  padding: 16px 8px;
  max-width: 100%;
  margin: 0px;
  overflow: auto;
}

.example-code .highlight pre {
  margin: 0px;
}

.example-preview {
  padding: 48px 16px;
  border: 1px solid var(--flexy-sys-palette-grey-25);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
}

.switch-rich-example {
  gap: 0px;
}

.switch-rich-example .flex-row {
  border-bottom: 1px solid var(--flexy-sys-palette-grey-20);
  box-sizing: border-box;
  cursor: pointer;
  justify-content: space-between;
  gap: 0px;
  height: 56px;
  max-width: 320px;
  padding: 0px 16px;
}

.switch-rich-example .flex-row:hover {
  background-color: var(--flexy-sys-palette-grey-10);
}
