body {
  margin-top:var(--navbar-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: var(--navbar-height);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--flexy-sys-color-surface);
  border-bottom: 1px solid var(--flexy-sys-palette-grey-20);
  padding: 0px 12px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--navbar-height);
  z-index: 9;
}

.navbar > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark #theme-toggle svg:first-child {
  display: none;
}

.light #theme-toggle svg:last-child {
  display: none;
}

#menu-button {
  display: none;
}

@media (max-width: 420px) {
  :root {
    --navbar-height: 112px;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
