body {
  margin-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 56px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--flexy-sys-palette-tint-30);
  box-shadow: 0px 0px 3px #000000c0;
  padding: 0px 12px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 56px;
  z-index: 9;
}

.navbar > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark #theme-toggle svg:first-child {
  display: none;
}

.light #theme-toggle svg:last-child {
  display: none;
}

#menu-button {
  display: none;
}
