@use 'sass:map';
@use '../../tokens';
@use '../../utils';

/// get component token
@function _token($token) {
  @return utils.map-get(tokens.$flexy-comp-tabs, $token);
}

.flexy-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flexy-tablist {
  display: flex;
  align-items: center;
  background-color: _token('tablist-fill-color');
  border-bottom: 1px solid _token('tablist-divider-color');
  border-radius: _token('tablist-shape');
  box-sizing: border-box;
  gap: _token('tablist-spacing');
  height: _token('tablist-height');
  margin-bottom: _token('tablist-divider-margin');
  overflow: auto hidden;
  padding: 0px _token('tablist-padding');
}

.flexy-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: _token('tab-spacing');
  border-radius: _token('tab-shape');
  cursor: pointer;
  height: _token('tab-height');
  position: relative;
  padding: 0px _token('tab-padding');
  width: 100%;
  -webkit-tap-highlight-color: transparent;

  &::after {
    @include utils.touchable();
  }

  &[aria-selected='false'] {
    background-color: _token('tab-unselected-fill-color');
    color: _token('tab-unselected-label-color');
  }

  &[aria-selected='true'] {
    background-color: _token('tab-selected-fill-color');
    color: _token('tab-selected-label-color');
  }

  &:focus-visible {
    outline: 2px solid tokens.$flexy-sys-color-primary;
    outline-offset: 0px;
  }
}

.flexy-tab-panels {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.flexy-tab-panel {
  flex-shrink: 0;
  width: 100%;

  &[hidden] {
    display: none !important;
  }
}
