@use 'builder' as *;

.light {
  @include theme-builder(
    (
      primary: hsl(210deg, 70%, 34%),
      on-primary: hsl(0deg, 0%, 100%),
      error: hsl(0deg, 70%, 37%),
      on-error: hsl(0deg, 0%, 100%),
      surface: hsl(215deg, 10%, 95%),
      on-surface: hsl(215deg, 25%, 15%),
    ),
    false
  );
}
