@use 'builder' as *;

.light {
  @include theme-builder(
    (
      primary: hsl(220deg, 50%, 40%),
      on-primary: hsl(0deg, 0%, 95%),
      error: hsl(0deg, 50%, 40%),
      on-error: hsl(0deg, 0%, 95%),
      surface: hsl(220deg, 5%, 90%),
      on-surface: hsl(220deg, 5%, 10%),
    ),
    false
  );
}
