@use 'sass:map';
@use 'flexy-sys-color' as *;
@use 'flexy-sys-palette' as *;
@use 'flexy-sys-ref' as *;
@use 'flexy-sys-shape' as *;

$_flexy-comp-switch: (
  thumb-height: 22px,
  thumb-shape: 11px,
  thumb-width: 22px,
  track-height: 28px,
  track-shape: 14px,
  track-width: 48px,
  icon-size: 16px,

  focus-ring-color: $flexy-sys-color-primary,

  unselected-track-color: $flexy-sys-palette-grey-35,
  unselected-thumb-color: $flexy-sys-palette-grey-0,
  unselected-icon-color: $flexy-sys-palette-grey-85,

  selected-track-color: $flexy-sys-color-primary,
  selected-thumb-color: $flexy-sys-color-on-primary,
  selected-icon-color: $flexy-sys-color-primary,

  disabled-unselected-track-color: $flexy-sys-palette-grey-20,
  disabled-unselected-thumb-color: $flexy-sys-palette-grey-35,
  disabled-unselected-icon-color: $flexy-sys-palette-grey-20,

  disabled-selected-track-color: $flexy-sys-palette-grey-30,
  disabled-selected-thumb-color: $flexy-sys-palette-grey-15,
  disabled-selected-icon-color: $flexy-sys-palette-grey-30,
);

$flexy-comp-switch: ();

@each $name, $value in $_flexy-comp-switch {
  @if not $flexy-sys-ref-hardcode-values {
    $value: var(--flexy-comp-switch-#{$name}, #{$value});
  }
  $flexy-comp-switch: map.set($flexy-comp-switch, $name, $value);
}
