@use 'sass:map';
@use 'flexy-sys-ref' as *;
@use 'flexy-sys-shape' as *;

$_flexy-comp-button: (
  height: calc(40px + 4px * $flexy-sys-ref-density),
  shape: map.get($flexy-sys-shape, 'small'),
  padding: calc(16px + 2px * $flexy-sys-ref-density),
  spacing: 8px,
  label-size: 16px,
);

$flexy-comp-button: ();

@each $name, $value in $_flexy-comp-button {
  @if not $flexy-sys-ref-hardcode-values {
    $value: var(--flexy-comp-button-#{$name}, #{$value});
  }
  $flexy-comp-button: map.set($flexy-comp-button, $name, $value);
}
