$flexy-sys-palette-grey-0: var(--flexy-sys-palette-grey-0);
$flexy-sys-palette-grey-5: var(--flexy-sys-palette-grey-5);
$flexy-sys-palette-grey-10: var(--flexy-sys-palette-grey-10);
$flexy-sys-palette-grey-15: var(--flexy-sys-palette-grey-15);
$flexy-sys-palette-grey-20: var(--flexy-sys-palette-grey-20);
$flexy-sys-palette-grey-25: var(--flexy-sys-palette-grey-25);
$flexy-sys-palette-grey-30: var(--flexy-sys-palette-grey-30);
$flexy-sys-palette-grey-35: var(--flexy-sys-palette-grey-35);
$flexy-sys-palette-grey-40: var(--flexy-sys-palette-grey-40);
$flexy-sys-palette-grey-45: var(--flexy-sys-palette-grey-45);
$flexy-sys-palette-grey-50: var(--flexy-sys-palette-grey-50);
$flexy-sys-palette-grey-55: var(--flexy-sys-palette-grey-55);
$flexy-sys-palette-grey-60: var(--flexy-sys-palette-grey-60);
$flexy-sys-palette-grey-65: var(--flexy-sys-palette-grey-65);
$flexy-sys-palette-grey-70: var(--flexy-sys-palette-grey-70);
$flexy-sys-palette-grey-75: var(--flexy-sys-palette-grey-75);
$flexy-sys-palette-grey-80: var(--flexy-sys-palette-grey-80);
$flexy-sys-palette-grey-85: var(--flexy-sys-palette-grey-85);
$flexy-sys-palette-grey-90: var(--flexy-sys-palette-grey-90);
$flexy-sys-palette-grey-95: var(--flexy-sys-palette-grey-95);
$flexy-sys-palette-grey-100: var(--flexy-sys-palette-grey-100);

$flexy-sys-palette-tint-10: var(--flexy-sys-palette-tint-10);
$flexy-sys-palette-tint-20: var(--flexy-sys-palette-tint-20);
$flexy-sys-palette-tint-30: var(--flexy-sys-palette-tint-30);
$flexy-sys-palette-tint-40: var(--flexy-sys-palette-tint-40);
$flexy-sys-palette-tint-50: var(--flexy-sys-palette-tint-50);
$flexy-sys-palette-tint-60: var(--flexy-sys-palette-tint-60);
$flexy-sys-palette-tint-70: var(--flexy-sys-palette-tint-70);
$flexy-sys-palette-tint-80: var(--flexy-sys-palette-tint-80);
$flexy-sys-palette-tint-90: var(--flexy-sys-palette-tint-90);
