$flexy-sys-color-primary: var(--flexy-sys-color-primary);
$flexy-sys-color-on-primary: var(--flexy-sys-color-on-primary);
$flexy-sys-color-error: var(--flexy-sys-color-error);
$flexy-sys-color-on-error: var(--flexy-sys-color-on-error);
$flexy-sys-color-surface: var(--flexy-sys-color-surface);
$flexy-sys-color-on-surface: var(--flexy-sys-color-on-surface);
