@use './tokens';

body {
  background-color: tokens.$flexy-sys-color-surface;
  color: tokens.$flexy-sys-color-on-surface;
  font-family: tokens.$flexy-sys-typography-sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

p {
  max-width: 80ch;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.simple-icon,
.bootstrap-icon,
.material-symbol {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;

  svg {
    fill: currentcolor;
    width: 1em;
    height: 1em;
  }
}

.simple-icon {
  font-size: 16px;
}

.bootstrap-icon {
  font-size: 16px;
}

.material-symbol {
  font-size: 24px;
}

@each $size in (16 20 24 32 40 48 64 96 128) {
  .icon-#{$size} {
    font-size: calc($size * 1px);
  }
}

.dark a:not(.flexy-button) {
  color: dodgerblue;
}

.light a:not(.flexy-button) {
  color: royalblue;
}

.hidden {
  display: none;
}

code {
  display: inline-block;
  background-color: tokens.$flexy-sys-palette-grey-15;
  border-radius: 4px;
  color: tokens.$flexy-sys-palette-grey-90;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 4px;
}

ul li {
  margin: 4px 0px;
}
