@use './tokens';

body {
  background-color: tokens.$flexy-sys-color-surface;
  color: tokens.$flexy-sys-color-on-surface;
  font-family: tokens.$flexy-sys-typography-sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 8px;
}
