@use 'sass:map';
@use '../../tokens';
@use '../../utils';

$_slider: tokens.$flexy-comp-slider;

.flexy-slider {
  display: flex;

  position: relative;
  height: map.get($_slider, 'thumb-height');
  min-height: map.get($_slider, 'track-height');
  width: 240px;
  max-width: 100%;

  * {
    user-select: none;
  }

  & > *:not(&__input) {
    pointer-events: none;
  }

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    @include utils.absolute-center();
    @include utils.size(100%);
    @include utils.min-size(tokens.$flexy-sys-ref-touch-size);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: map.get($_slider, 'thumb-width');
      height: map.get($_slider, 'thumb-height');
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      width: map.get($_slider, 'thumb-width');
      height: map.get($_slider, 'thumb-height');
    }
  }

  &__track {
    display: block;
    border-radius: map.get($_slider, 'track-shape');
    overflow: hidden;
    @include utils.absolute-center();
    width: calc(100% - map.get($_slider, 'thumb-width'));
    height: map.get($_slider, 'track-height');
  }

  &__inactive-track,
  &__active-track {
    display: block;
    @include utils.absolute-fill();
    overflow: hidden;
    transition: transform map.get($_slider, 'animation-jumping');
  }

  &__inactive-track {
    background-color: map.get($_slider, 'track-inactive-color');
    transform: translateX(50%);
  }

  &__active-track {
    background-color: map.get($_slider, 'track-active-color');
    transform: translateX(-50%);
  }

  &__inactive-ticks,
  &__active-ticks {
    $_ticks-size: calc(map.get($_slider, 'ticks-size') / 2);

    display: block;
    background-image: radial-gradient(
      circle at $_ticks-size,
      currentcolor calc($_ticks-size - 0.5px),
      transparent $_ticks-size,
    );
    background-size: 10% 100%;
    background-position: calc(-1 * $_ticks-size) center;
    transition: transform map.get($_slider, 'animation-jumping');
    @include utils.absolute-fill();
  }

  &__inactive-ticks {
    color: map.get($_slider, 'ticks-inactive-color');
    transform: translateX(-50%);
  }

  &__active-ticks {
    color: map.get($_slider, 'ticks-active-color');
    transform: translateX(50%);
  }

  &__thumb-rail {
    display: block;
    @include utils.absolute-center();
    width: calc(100% - map.get($_slider, 'thumb-width'));
    height: 100%;
  }

  &__thumb {
    display: block;
    @include utils.absolute-fill();
    transform: translateX(-50%);
    transition: transform map.get($_slider, 'animation-jumping');
  }

  &__thumb-knob {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map.get($_slider, 'thumb-color');
    border: map.get($_slider, 'thumb-outline-width') solid
      map.get($_slider, 'thumb-outline-color');
    border-radius: map.get($_slider, 'thumb-shape');
    box-sizing: border-box;
    color: map.get($_slider, 'thumb-icon-color');
    position: absolute;
    left: calc(100% - map.get($_slider, 'thumb-width') / 2);
    top: 0;
    width: map.get($_slider, 'thumb-width');
    height: map.get($_slider, 'thumb-height');
  }

  &__value-indicator,
  &__value-indicator-m3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: map.get($_slider, 'value-indicator-text-color');
    font-size: map.get($_slider, 'value-indicator-text-size');
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, 0%) scale(0);
    transform-origin: center bottom;
    transition: transform 200ms tokens.$flexy-sys-motion-ease-out-cubic;
  }

  &__value-indicator {
    $_arrow-size: map.get($_slider, 'value-indicator-arrow-size');

    border-radius: map.get($_slider, 'value-indicator-shape');
    background-color: map.get($_slider, 'value-indicator-fill-color');
    width: map.get($_slider, 'value-indicator-width');
    height: map.get($_slider, 'value-indicator-height');

    &::before {
      content: '';
      clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
      background-color: inherit;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -1px);
      width: calc($_arrow-size * 2 + 1px);
      height: calc($_arrow-size * 2 + 1px);
    }
  }

  &__value-indicator-m3 {
    width: map.get($_slider, 'value-indicator-m3-size');
    height: map.get($_slider, 'value-indicator-m3-size');

    &::before {
      content: '';
      background-color: map.get($_slider, 'value-indicator-fill-color');
      border-radius: 50% 50% 0% 50%;
      transform: rotateZ(45deg);
      z-index: -1;
      @include utils.absolute-fill();
    }
  }

  &--sliding &__value-indicator,
  &__input:hover ~ &__thumb-rail &__value-indicator,
  &__input:focus ~ &__thumb-rail &__value-indicator {
    transform: translate(
        -50%,
        calc(-1 * map.get($_slider, 'value-indicator-arrow-size') - 2px)
      )
      scale(1);
  }

  &--sliding &__value-indicator-m3,
  &__input:hover ~ &__thumb-rail &__value-indicator-m3,
  &__input:focus ~ &__thumb-rail &__value-indicator-m3 {
    transform: translate(-50%, calc(-20.70833333333333% - 2px)) scale(1);
  }

  &__input:focus-visible ~ &__thumb-rail &__thumb-knob {
    outline: 2px solid map.get($_slider, 'focus-ring-color');
    outline-offset: 2px;
  }

  &--sliding &__active-track,
  &--sliding &__inactive-track,
  &--sliding &__active-ticks,
  &--sliding &__inactive-ticks,
  &--sliding &__thumb {
    transition: transform map.get($_slider, 'animation-sliding');
  }

  &--noanimation &__active-track,
  &--noanimation &__inactive-track,
  &--noanimation &__active-ticks,
  &--noanimation &__inactive-ticks,
  &--noanimation &__thumb {
    transition-duration: 0ms;
  }
}
