@use 'sass:map';
@use '../../tokens';
@use '../../utils';

$_slider: tokens.$flexy-comp-slider;
$_transition: 200ms cubic-bezier(0.22, 0.61, 0.36, 1);

.flexy-slider {
  display: flex;

  position: relative;
  height: map.get($_slider, 'thumb-height');
  min-height: map.get($_slider, 'track-height');
  width: 320px;

  * {
    user-select: none;
  }

  & > *:not(&__input) {
    pointer-events: none;
  }

  &__input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    border: none;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    @include utils.absolute-center();
    @include utils.size(100%);
    @include utils.min-size(tokens.$flexy-sys-ref-touch-size);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: map.get($_slider, 'thumb-width');
      height: map.get($_slider, 'thumb-height');
    }

    &::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      width: map.get($_slider, 'thumb-width');
      height: map.get($_slider, 'thumb-height');
    }
  }

  &__track {
    display: block;
    border-radius: map.get($_slider, 'track-shape');
    overflow: hidden;
    @include utils.absolute-center();
    width: calc(100% - map.get($_slider, 'thumb-width'));
    height: map.get($_slider, 'track-height');
  }

  &__inactive-track,
  &__active-track {
    display: block;
    @include utils.absolute-fill();
    transition: transform $_transition;
  }

  &__inactive-track {
    background-color: map.get($_slider, 'track-inactive-color');
    transform: translateX(50%);
  }

  &__active-track {
    background-color: map.get($_slider, 'track-active-color');
    transform: translateX(-50%);
  }

  &__thumb-rail {
    display: block;
    @include utils.absolute-center();
    width: calc(100% - map.get($_slider, 'thumb-width'));
    height: 100%;
  }

  &__thumb {
    display: block;
    @include utils.absolute-fill();
    transform: translateX(-50%);
    transition: transform $_transition;
  }

  &__thumb-knob {
    display: block;
    background-color: map.get($_slider, 'thumb-color');
    border: map.get($_slider, 'thumb-outline-width') solid
      map.get($_slider, 'thumb-outline-color');
    border-radius: map.get($_slider, 'thumb-shape');
    box-sizing: border-box;
    position: absolute;
    left: calc(100% - map.get($_slider, 'thumb-width') / 2);
    top: 0;
    width: map.get($_slider, 'thumb-width');
    height: map.get($_slider, 'thumb-height');
  }

  &__value-indicator {
    $_arrow-size: map.get($_slider, 'value-indicator-arrow-size');

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: map.get($_slider, 'value-indicator-shape');
    background-color: map.get($_slider, 'value-indicator-fill-color');
    color: map.get($_slider, 'value-indicator-text-color');
    font-size: map.get($_slider, 'value-indicator-text-size');
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -2px) scale(0);
    transform-origin: center bottom;
    width: map.get($_slider, 'value-indicator-width');
    height: map.get($_slider, 'value-indicator-height');
    transition: transform $_transition;

    &::before {
      content: '';
      clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
      background-color: inherit;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translate(-50%, -1px);
      width: calc($_arrow-size * 2 + 1px);
      height: calc($_arrow-size * 2 + 1px);
    }
  }

  &--sliding &__value-indicator,
  &__input:hover ~ &__thumb-rail &__value-indicator,
  &__input:focus ~ &__thumb-rail &__value-indicator {
    transform: translate(
        -50%,
        calc(-1 * map.get($_slider, 'value-indicator-arrow-size') - 2px)
      )
      scale(1);
  }

  &__input:focus-visible ~ &__thumb-rail &__thumb-knob {
    outline: 2px solid map.get($_slider, 'focus-ring-color');
    outline-offset: 2px;
  }

  &--noanimation &__inactive-track,
  &--noanimation &__active-track,
  &--noanimation &__thumb {
    transition-duration: 0ms;
  }

  &--sliding &__inactive-track,
  &--sliding &__active-track,
  &--sliding &__thumb {
    transition-duration: 80ms;
    transition-timing-function: ease-out;
  }
}
